spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: pc
    password: 2024
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
        show_sql: true

  web:
    resources:
      add-mappings: false

logging:
  level:
    org.hibernate.SQL: debug
